---
// FeaturedImage component that accepts a slot for the image
---

<div class="hero-image pt-7 mt-8 flex justify-center rounded-xl">
  <div class="bg-gray-800 p-6 inline-block rounded-xl overflow-hidden">
  <slot />
  </div>
</div>
