---
const today = new Date();
import CallToAction from "./CallToAction.astro";
---
<div>
  <CallToAction/>
  <footer class="bg-gray-800 text-gray-300 py-12">
    <div class="container mx-auto px-6 text-center">
      <p class="mb-2">&copy; {today.getFullYear()}</span> Artic Power Solutions. All Rights Reserved.</p>
      <p class="text-sm mb-2">Artic Power Solutions is an independent service provider. RollMover™ is a trademark of
        Appleton Mfg. Artic Power Solutions is not affiliated with, sponsored by, or endorsed by Appleton Mfg.</p>
      <p class="text-sm">
        <a
            href="/privacy-policy"
            class="hover:text-indigo-400"
        >Privacy Policy
        </a>
        |
        <a
            href="/terms-of-service"
            class="hover:text-indigo-400"
        >Terms of Service
        </a>
      </p>
    </div>
  </footer>
</div>

<!--<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(&#45;&#45;gray-gradient)) no-repeat;
		color: rgb(var(&#45;&#45;gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(&#45;&#45;gray));
	}
	.social-links a:hover {
		color: rgb(var(&#45;&#45;gray-dark));
	}
</style>-->
