---
import HeaderLink from './HeaderLink.astro';
import { Image } from 'astro:assets';
import articLogoIcon from '../assets/aps-icon-white.png';
import { SITE_TITLE } from '../consts';
---

<header class="m-0 px-4 py-0 bg-[#0e162a] shadow-md">
	<nav class="flex items-center justify-between">
		<div class="flex items-center">
			<Image
				class="w-10 h-10 max-w-full h-auto"
				src={articLogoIcon}
				alt="Artic Power Solutions Logo" />
			<h2 class="m-0 text-base"><a href="/" class="no-underline">{SITE_TITLE}</a></h2>
		</div>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Resources</HeaderLink>
			<HeaderLink href="/parts">Parts</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links md:flex hidden">
			<!-- Social links would go here if needed -->
		</div>
	</nav>
</header>
<style>
	nav a {
		padding: 1em 0.5em;
		color: white;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: #fc5252;
	}
	.social-links a {
		display: flex;
	}
</style>
