---
import { Image } from 'astro:assets';
import matrix from '../assets/matrix.svg'
import rollMoverIllustration from '../assets/aps-nicad-battery.png';
---

<div
    id="challenge"
    class=" flex flex-col md:flex-row relative"
>
  <div class="px-12 md:w-1/2 flex flex-col items-center justify-center">
    <Image
        src={matrix}
        alt="Decorative image"
        class="matrix"
    />
    <Image
        src={rollMoverIllustration}
        alt="RollMover Technician"
        style="max-width: 300px; width: 100%;"
        class="mx-auto z-10 relative"
    />
  </div>
  <div class="mt-12 sm:mt-0 md:w-2/3">
    <h2 class="text-md md:text-md font-bold text-white mb-6">Are Your Appleton RollMovers at Risk of Downtime?
    </h2>
    <p class="text-lg text-white mb-8">
      Your material handling operations rely on dependable RollMover™ performance — but with Appleton discontinuing 24V NIC-CAD batteries, a failing battery now means unexpected downtime and lost productivity.
    </p>
    <p class="text-lg text-white">
      Securing fast, reliable, and high-quality replacement batteries is essential to keep your equipment moving. That’s why Artic Power Solutions provides direct-fit NIC-CAD 24V battery replacements engineered to match or exceed original Appleton specifications — so you can restore performance without costly equipment upgrades or modifications.
    </p>
    <div class="text-center">
        <a
            href="#contact"
            class="mt-8 inline-block bg-red-500 hover:bg-red-600 text-white font-semibold py-3 px-6 rounded-lg shadow-md transition-all duration-300 ease-in-out transform hover:scale-105"
        >
            Request a Quote
        </a>
    </div>
  </div>
</div>

<style>
  .matrix {
      position: absolute;
      z-index: 0;
      max-width: 350px;
      opacity: .4;
  }
</style>
